.App {
  text-align: center;
  background-color: #FFC8DD;
}

.ImgCruz{
  margin-top: 100px;
}
.Name h3{
  text-align: center;
  color: #000A2B;
  font-size: 15px;
  letter-spacing: 5px;
}
.Name h1{
  color: #000A2B;
  font-family: 'Script MT', cursive;
}
.leyend{
  font-size: 20px;
  color: #000A2B;
  font-family: 'Script MT', cursive;
}
.timer{
  margin-top: 10%;
}

.paper {
  margin: 0 auto;
  margin-top: 10%;
  margin-bottom: 10%;
  background-color: white;
  color: #000A2B;
  width: 70%;
  display: flex;
  flex-direction: column;
  border-radius: 10%;
  font-weight: 500;
  box-shadow: 5px 4px 6px rgba(0, 0, 0, 0.1);
}

.paper > * {
  margin-top: 20px;
  margin-bottom: 20px;
}

.HandImg{
  width: 70%;
  height: auto;
}