.App {
  text-align: center;
  background-color: #FFC8DD;
}

.ImgCruz{
  margin-top: 100px;
}
.Name h3{
  text-align: center;
  color: #000A2B;
  font-size: 15px;
  letter-spacing: 5px;
}
.Name h1{
  color: #000A2B;
  font-family: 'Script MT', cursive;
}
.leyend{
  font-size: 20px;
  color: #000A2B;
  font-family: 'Script MT', cursive;
}
.timer{
  margin-top: 10%;
}

.paper {
  margin: 0 auto;
  margin-top: 10%;
  margin-bottom: 10%;
  background-color: white;
  color: #000A2B;
  width: 70%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  font-weight: 500;
  box-shadow: 5px 4px 6px rgba(0, 0, 0, 0.1);
}

.paper > * {
  margin-top: 20px;
  margin-bottom: 20px;
}

.HandImg{
  width: 70%;
  height: auto;
}
.parents{
  font-family: 'Script MT', cursive;
}
.ImgAnimalitos{
  margin: 0 auto;
  width: 100%;
  height: auto;
}
.Godleyend{
  text-align: center;
  background-color: white;
  font-weight: 500;
  width: 60%;
  margin: 0 auto;
  gap: 20px;
  padding: 40px; 
  border-radius: 10px;
  box-shadow: 5px 4px 6px rgba(0, 0, 0, 0.1);
}
.date h1{
  font-size: 50px;
  font-family: 'Script MT', cursive;
}
.fechaContainer{
  background-color: transparent;
  border-top: 1px #000A2B solid;
  border-bottom: 1px #000A2B solid;
  padding: 20px;
  width: 70%;
  margin: 0 auto;
  font-size: 15px;
}
.CardContainer{
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 5px 4px 6px rgba(0, 0, 0, 0.1);
}
.CardContainer h2{
  margin-top: 20px;
}
.CardContainer h3{
  font-size: 15px;
}
.CardContainer h4{
  font-size: 12px;
}
.CardContainer h5{
  text-align: center;
}
.CardContainer span{
  font-size: 12px;
  color: grey;
  font-weight: 500;
}
.avatar{
  margin: 0 auto;
}
